*, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  max-width: 83%;
  margin: 0 auto;
  padding-top: 40px;
}

header h1 {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 0;
  color: #000000;
}

header .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 12px;
}

header .dots p {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  color: #4F4F4F;
  line-height: 17px;
  margin-left: 12px;
  max-width: 590px;
}

main {
  max-width: 83%;
  margin: 0 auto;
}

main .img {
  width: 100%;
  height: auto;
  display: block;
  margin: 17px 0px;
}

.ingredients {
  max-width: 83%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ingredients .left-container {
  width: 77%;
}

.ingredients .left-container .main-head {
  font-family: Playfair Display;
  color: #333333;
  font-weight: bold;
  font-size: 24px;
}

.ingredients .left-container .head {
  font-family: Playfair Display;
  font-style: italic;
  font-size: 18px;
  font-weight: normal;
  color: #333333;
  margin: 30px 0px;
}

.ingredients .left-container .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0px;
}

.ingredients .left-container .checkbox p {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  margin: 0px 17px;
  color: #333333;
}

.ingredients .right-container {
  padding: 40px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 20px rgba(139, 65, 65, 0.1);
          box-shadow: 0px 0px 20px rgba(139, 65, 65, 0.1);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.ingredients .right-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.875rem 0;
}

.ingredients .right-container .box .fa-utensils-alt {
  color: #F2994A;
}

.ingredients .right-container .box .box-details {
  margin-left: 5px;
}

.ingredients .right-container .box .box-details h3 {
  margin-bottom: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color: #BDBDBD;
}

.ingredients .right-container .box .box-details p {
  margin-top: 0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  color: #F2994A;
}

.instructions {
  max-width: 83%;
  margin: 0 auto;
}

.instructions .main-head {
  font-family: Playfair Display;
  color: #333333;
  font-weight: bold;
  font-size: 24px;
}

.instructions .main-inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

.instructions .main-inst .no-inst p {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  background: #F2994A;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.instructions .main-inst .desc-inst p {
  margin: 0 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  max-width: 536px;
}

.instructions p {
  margin: 50px 0;
  font-style: italic;
  color: #BDBDBD;
}

footer {
  text-align: center;
  color: #A9A9A9;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  header, main, .ingredients, .instructions {
    max-width: 95%;
  }
  header h1 {
    font-size: 24px;
  }
  header .dots p {
    font-size: 12px;
  }
  .ingredients {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .ingredients .left-container {
    width: 100%;
  }
  .ingredients .left-container .main-head {
    font-size: 18px;
  }
  .ingredients .left-container .head {
    font-size: 16px;
  }
  .ingredients .left-container .checkbox p {
    font-size: 14px;
  }
  .ingredients .right-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    padding: 10px;
    margin-top: 40px;
  }
  .ingredients .right-container .box:nth-child(1) {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  .ingredients .right-container .box:nth-child(2), .ingredients .right-container .box:nth-child(3), .ingredients .right-container .box:nth-child(4) {
    margin: 0 0 0 50px;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  .instructions .main-head {
    font-size: 18px;
  }
  .instructions .main-inst .desc-inst p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */